body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.title {
    margin-bottom: 20px;
}

.dropdown-container {
    margin-bottom: 20px;
}
